# Fichiers et dossiers à exclure du git

# Secrets et config locales
local_only/
mia-backend/.env

# Dépendances
node_modules/

# Fichiers temporaires et logs
*.log
*.tmp

# Python cache
__pycache__/
*.pyc


# Autres fichiers sensibles ou temporaires
# (ajoute ici si besoin)

# Dossier des icônes à ignorer
ico/


